<section>
  <strong>Substitute Player</strong>
</section>
<section>
  <div><strong>Player being Subbed</strong></div>
  <app-dashboardcard [playercard]="playercard"></app-dashboardcard>
</section>
<section>
  <strong>Players that can be selected</strong>
  <div *ngIf="this.loaded == 0">Loading substitution options...</div>
  <div *ngIf="this.loaded == 1">
    <div *ngFor="let pc of this.subPlayers">
      <app-subplayercard [playercard]="pc" (subPlayer)="playerSub($event)"></app-subplayercard>
    </div>  
  </div>
</section>