<div class="page-content d-flex align-items-stretch">
    <div class="content-inner">
        <header class="page-header">
          <div class="container-fluid">
            <h2 class="no-margin-bottom">Your Team</h2>
            <h4 *ngIf="this.round !== 0" class="no-margin-bottom">Round #{{this.round}}</h4>
            <h4 *ngIf="this.round === 0" class="no-margin-bottom">Compeititon Status: Preseason</h4>
            <h4 *ngIf="this.currentState === 0 && this.round !== 0" class="no-margin-bottom">Compeititon Status: Open</h4>
            <h4 *ngIf="this.currentState === 1 && this.round !== 0" class="no-margin-bottom">Compeititon Status: Lockout</h4>
          </div>
        </header>
<!-- Details Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid">
            <div class="row bg-white has-shadow">
                <div class="col-xl-4 col-sm-8">
                    <div class="item d-flex align-items-center">
                        <div class="title"><span><strong>Available Salary</strong></span>
                          <div class="number">${{ this.availableSalary | number : 0 }}</div>
                          <div><br></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-8">
                    <div class="item d-flex align-items-center">
                        <div class="title"><span><strong>Trades Remaining</strong></span>
                          <!-- <div class="number">30</div> -->
                          <div class="number" *ngIf="this.round === 0">N/A</div>
                          <div><br></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-8">
                    <div class="d-flex align-items-center">
                        <div><br></div>
                        <button class="btn btn-primary" (click)="saveTeam()">Save Team</button>
                    </div>
                </div>
            </div> 
        </div>
    </section>
    <section class="playercard-displays no-padding-bottom">
        <div class="container-fluid">
          <div class="row bg-white has-shadow">
              <div *ngIf="this.loaded == 0">Loading your team...</div>
              <div *ngIf="this.loaded == 1">
                <div class="row card-group">
                  <div class="indcard col-5" *ngFor="let pc of this.playerCards">
                      <app-teamcard [playercard]="pc" (captainSet)="setCaptainValues($event)" (emergencySet)="setEmergencyValues($event)" (sixthManSet)="setSixthManValues($event)"></app-teamcard>
                  </div>
                </div>      
              </div>
          </div>
        </div>
    </section>
  </div>
</div>

<!-- <section>
  <div class="card mb-4" id="i2Card">
    <div class="w3-container text-center">
      <p>Available Salary Cap</p>
      <p>{{ this.availableSalary }}</p>
    </div>
  </div>
  <div class="card mb-4" id="i2Card">
      <div class="w3-container text-center">
        <button [disabled]="this.updates === 0" class="btn btn-success my-2 my-sm-0" type="submit" (click)="saveTeam()">Save Team</button>
      </div>
    </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div *ngIf="this.loaded == 0">Loading your team...</div>
        <div *ngIf="this.loaded == 1">
          <div *ngFor="let pc of this.playerCards">
            <app-teamcard [playercard]="pc" (captainSet)="setCaptainValues($event)" (emergencySet)="setEmergencyValues($event)" (sixthManSet)="setSixthManValues($event)"></app-teamcard>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
