<section>
  <div class="card mb-4" id="i2Card">
    <div class="w3-container text-center">
      <p>Available Salary Cap</p>
      <p>{{ this.availableSalary }}</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <!-- <p>value = {{this.playerCards[0].firstName}}</p> -->
        <!-- <p> loaded is {{this.loaded}}</p> -->
        <!-- <p>First element of loop: {{this.playerCards[0].firstName}}</p> -->
        <div *ngIf="this.loaded == 0">Loading</div>
        <div *ngIf="this.loaded == 1">It has now loaded
          
        </div>
      </div>
    </div>
  </div>
</section>
