<section>
  <div class="card mb-4" id="i2Card">
    <div class="w3-container text-center">
      <p>Available Salary Cap</p>
      <p>{{ this.availableSalary }}</p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-6">
        <div *ngIf="this.loaded == 0">Loading your team...</div>
        <div *ngIf="this.loaded == 1">
          <div *ngFor="let pc of this.playerCards">
            <app-teamcard [playercard]="pc" (captainSet)="setCaptainValues($event)" (emergencySet)="setEmergencyValues($event)" (sixthManSet)="setSixthManValues($event)"></app-teamcard>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
