<div *ngIf="playercard.playerId != 0">
  <div class="w3-container">
    <div class="card">
        <!-- <div class="card-body" [ngStyle]="{'background-color': playercard.isCaptain? 'yellow' : 'white'}"> -->
            <div class="card-body" [ngStyle]="this.playercard.isCaptain === this.playercard.cardPosition && {'background-color':'yellow'} || this.currentPosition !== this.playercard.cardPosition && {'background-color':'white'}">
            
          <p>{{playercard.cardPositionText}}</p>
          <img class="center" [attr.alt]="playercard.team" src="assets/images/{{playercard.team}}.jpg">
          <p><strong>{{playercard.firstName}} {{playercard.surname}}</strong> - {{playercard.playerPosition}}</p>
          <p>{{playercard.price}}</p>
          <p>Last Score: {{playercard.lastScore}}</p>
          <p>Average Score: {{playercard.averageScore}}</p>
          <ul class="list-inline playerbuttons animate text-center">
              <li class="list-inline-item"><button class="btn btn-primary">T</button></li>
              <li class="list-inline-item"><button class="btn btn-primary">S</button></li>
              <li *ngIf="playercard.cardPosition < 6" class="list-inline-item"><button class="btn btn-primary" (click)="setCaptain(playercard.cardPosition)">C</button></li>
              <li *ngIf="playercard.cardPosition > 5 && playercard.cardPosition < 11" class="list-inline-item"><button class="btn btn-primary">6</button></li>
              <li *ngIf="playercard.cardPosition > 10" class="list-inline-item"><button class="btn btn-primary">E</button></li>
          </ul>
        </div>
    </div>
  </div>
</div>
<div *ngIf="playercard.playerId == 0">
  <div class="w3-container">
    <div class="card">
        <div class="card-body">
        <p>{{playercard.cardPositionText}}</p>
        <p>{{playercard.cardPosition}}</p>
        <button class="w3-button w3-block w3-dark-grey" [routerLink]="['/selectplayer/', playercard.cardPosition]" >
          <p></p>+ Select Player
        </button>
      </div>
    </div>
  </div>
</div>