.card-body {
    position: relative;
}

.playerbuttons {
    position: absolute;
    bottom: -30%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    opacity: 0;
}

.card-body:hover .playerbuttons {
    bottom: 0;
    opacity: 1;
}

.animate {
    transition: all 0.3s ease-in-out;
}

/* .red {
    color: red; 
}

.yellow {
    color: yellow;
} */