<div class="row" *ngIf="!teamSelected()">
  <section class="view intro-2">
    <div class="card mb-4" id="i2Card">
      <div class="w3-container text-center">
        <p>Available Salary Cap</p>
        <p>${{this.availableSalary}}</p>
      </div>
    </div>
    <div class="row"><br /></div>
    <div class="container center">
      <div class="team-not-selected mt-5 text-center">
        <!-- /div> *ngIf="> -->
        <p>Your team is not yet selected. Please select your team.</p>
        <button
          class="w3-button w3-block w3-dark-grey"
          [routerLink]="['/team']"
        >
          Select {{ user?.teamname }}
        </button>
      </div>
    </div>
  </section>
</div>
