/* .intro-header {
    height: unset !important;
  } */
  .intro-2 {
    background: url("../../assets/images/nbaCourt.jpg")no-repeat center center;
    background-size: cover;
    /* opacity: 0.5; */
  }
  .view {
    height: 100vh !important;
  }

  .card-display {
      opacity: 0.9;
  }
  /* .top-nav-collapse {
    background-color: #3f51b5 !important;
  } */
  /* .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  } */
  /* @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  } */
  /* .rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
  } */
  /* .card {
    background-color: rgba(112, 112, 119, 0.2);
  } */
  
  /* .md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
  } */
  /* .md-form label {
    color: #ffffff;
  } */
  /* h6 {
    line-height: 1.7;
  } */
  /* @media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
      height: 1040px;
    }
  } */